<!DOCTYPE HTML>
<html>
<head>
    <title>Sign Up</title>
    <link type="text/css" rel="stylesheet" href="../stylesheets/bootstrap.css" />
    <style>
        body { margin-top: 60px }
        .error { color: red }
    </style>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="i-bar"></span>
        <span class="i-bar"></span>
        <span class="i-bar"></span>
      </a>
      <a class="brand" href="/">CS253</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="/unit2/signup">Signup</a></li>
          <li><a href="/unit2/rot13">Rot13</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">
<!-- main content begins -->

{% block body %} {% endblock %}

<!-- footer begins -->

</div>
</body>
</html>
